*{margin: 0;
    padding: 0;
    
    }
    html{
    width: 100%;
    height: 100%;
    
    }
    #mainNavm2 {
      float: left;
      width: 15%;
      height: 100%;
      position: absolute;
      top:0;
      bottom: 0;
      background:rgb(65, 63, 63);
      border-radius: 10px;
      box-shadow: 5px 7px 10px rgba(21, 97, 11, 0.5); 
    }
    
    #mainNavm2 ul {
        position: relative;
        list-style-type:none ;
    }
    
    #mainNavm2 ul li a{
        display: flex;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.15em;
        text-decoration: none;
        text-transform: capitalize;
        color:rgb(255, 255, 255);
        padding:10px 30px;
        height: 50px;
        border-radius: 0 30px;
    }
    
    #mainNavm2 ul li a:hover{
        background:rgba(0,0,0,0.7);
        color:rgb(15, 59, 3);
    
    
    }
    
    #banner2{
        width: 100%;
        height: auto;
    }
    
    .body{
        width: 84%;
        float:right;
        overflow-y: auto;
        overflow-x: hidden;
        height: 700px;
        
    }
    .upper{
        margin-left:2%;
    }
    .lower{
        margin-left:2%;
    }
    /* flex design */
    
    #Container{
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
        margin-left:2%;
    }
    #Container1{
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
        margin-left:2%;
    }
    #Container .flexbox{
        margin: .8em .2em ;
        width: calc(33% - .4em );
        box-sizing: border-box;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        padding: 1em;
        
    
    
    }
    
    #Container1 .flexbox1{
        margin: .8em .2em ;
        width: calc(33% - .4em );
        box-sizing: border-box;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        padding: 1em;
        
    
    
    }
    
    #health{
        width: 60%;
        height: 50%;
        padding: 1em;
    }
    
    
    #cost{
        width: 80%;
        height: 50%;
        padding: 1em;
    }
    
    
    #Maintenance{
        width: 60%;
        height: 50%;
    }
    
    
    
    #better{
        width: 60%;
        height: 50%;
    }

    

    footer{
        background:#3d453e;
        padding:1em;
        color:#eb932b;
    }
    
    footer ul{
        list-style-type:none;
        padding:0;
        margin:0;
    }
    
    footer a{
        text-decoration:none;
        color:#eb932b;
        
    }

    .footerimg{
        float: left;
        padding-left:43%;
        padding-top: 1%;
    }